
h2 {
    color: #ff1201;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
  }
  
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  